/*common styles*/

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    line-height: 1;
}
    .grey,
    .material-icons{
        color: #636363;
        margin: 0px;
    }
    .blue{
        color: #0173ba;
        margin: 0px;
    }

/* HEADER STYLES */
header {
    position: fixed;
    z-index: 999;
    width: 100%;
    min-width: 1000px;
    top: 0px;
    background-color: #0074BD;
    padding: 30px 0px;
}

    header .logo .logo-img {
        margin-left: 10vw;
    }

/* MAIN CONTENT STYLES */
main {
    margin-top: 85px;
}

/* SLIDER */
    main .slider {
        display: block;
        width: 100%;
        height: 30vw;
        
    }
        main .slider .moto {
            position: absolute;
            width: 100%;
            height: 30vw;
            background-color: rgba(1,115,186,0.5);
            text-align: center;
            display: none;
        }
            .moto p {
                color: #ffffff;
                font-size: 4vw;
                font-weight: 100px;
                margin-top: 10vw;
                margin-left: -3500px;
            }

        .slider .image-left {
            display: block;
            width: 50%;
            height: 100%;
            float: left;
            background: url('../images/2.jpg') no-repeat;
            background-size: 120% auto;
            margin-top: -1500px;
        }
        .slider .image-right {
            width: 50%;
            height: 100%;
            float: right;
            background: url(../images/1.jpg) no-repeat;
            background-size: auto 120%;
            margin-right: -1500px;
        }

/* TOP INFO */
    .top-info {
        height: 800px;
    }
    /* left part */
        .top-info .img-info{
            width: 50%;
            height: 100%;
            float: left;
        }
            .top-info .img-info .info-container{
                width: 40vw;
                height: 680px;
                float: right;
                padding-top: 20px;
            }
            .top-info .img-info .info-container p.grey,
            .top-info .img-info .info-container p.blue {
                text-align: left;
                font-size: 40pt;
            }
            .rownd-img {
                margin: 20px auto;
                border-radius: 50%;
                width: 300px;
                height: 300px;
                background: url('../images/3.jpg') no-repeat;
                background-size: 500px;
                background-position: -70px -10px;
                border: 2px solid #0173ba;
                border-radius: 50%;
                -webkit-transition: -webkit-transform .8s ease-in-out;
                transition: transform .8s ease-in-out;
            }
                .rownd-img:hover{
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }

                .rownd-img div {
                    display: none;
                    color: #ffffff;
                    font-size: 18pt;
                    text-decoration: underline;
                    text-align: center;
                    line-height: 280px;
                    background-color: #0173ba;
                    width: 100%;
                    height: 100%;
                    margin-top: 0px;
                    border-radius: 50%;
                }


            .img-info .info-container .about-me {
                margin: 0 auto;
                font-size: 11pt;
            }
                .img-info .info-container .about-me td,
                .img-info .info-container .about-me th{
                    vertical-align: top;
                    width: 18vw;
                    height: 35px;
                }
                .img-info .info-container .about-me tbody{
                    float: right;
                    text-align: left;
                }
                .img-info .info-container .about-me thead{
                    float: left;
                    text-align: right;
                    margin-right: 10px;
                    padding-right: 10px;
                    border-right: 2px solid #636363;
                }


            .img-info .info-container img.signature{
                float: right;
                margin-top: 10px;
                margin-right: 100px;
                width: 250px;
                height: auto;
            }

    /* right part */
    .top-info .job-positions {
        float: right;
        width: 50%;
        height: 100%;
        background: url('../images/job_pc.jpg') no-repeat;
        background-size: auto 100%;
        background-position: -30px 0px;
        color: #ffffff;
    }
        .top-info .job-positions .position-desctibtion{
            width: 100%;
            height: 100%;
            background-color: rgba(99,99,99,0.7);
            text-transform: uppercase;
        }
            .position-desctibtion ul {
                width: 450px;
                margin-top: 0px;
            }
                .position-desctibtion li {
                    padding-left: 20px;
                    margin: 15px 0px;
                    font-size: 12pt;
                }
                .position-desctibtion .pos-title {
                    font-size: 30pt;
                    text-align: right;
                    margin-bottom: 30px;
                    padding-top: 30px;
                }
            .position-desctibtion .pos-button{
                background-color: #0173ba;
                margin: 50px;
                padding: 10px;
                text-align: center;
                font-weight: bold;
                width: 300px;
            }
                .position-desctibtion .pos-button:hover {
                    background-color: #0163bb;
                    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
                }
                .position-desctibtion .pos-button .pos-link {
                    text-decoration: none;
                    color: #ffffff;
                    line-height: 30px;
                }

/* MY INTERVIEW */
.my-interview {
    padding-top: 50px;
    background-color: #F8F8F8;
}
    .my-interview p.grey,
    .my-interview p.blue {
        text-align: right;
        font-size: 40pt;
        width: 1000px;
        margin: 0 auto;
    }

    .my-interview .full-interview {
        width: 1000px;
        margin: 20px auto;
        border-collapse:collapse;
    }
        .full-interview .int-more {
            display: none;
        }
        .full-interview td{
            width: 50%;
            padding: 20px;
            vertical-align: top;
            line-height: 30px;
            font-weight: bold;
        }
        .full-interview .blue {
            border-left: 2px solid #636363;
            text-align: left;
        }
        .full-interview .grey{
            text-align: right;
            padding-right: 50px;
        }

    .my-interview .int-buttons {
        margin: 20px auto;
        text-align: center;
        width: 1000px;
        padding-bottom: 30px;
    }

        .my-interview .int-buttons .read-more {
            margin: 20px auto;
            cursor: pointer;
            width: 300px;
            padding: 10px;
            border-bottom: 2px solid #636363;
            position: relative;
        }
            .my-interview .int-buttons .read-more .material-icons{
                position: absolute;
                bottom: 5px;
            }
        .my-interview .int-buttons .apply-job {
            width: 410px;
            background-color: #0173ba;
            padding: 20px 30px;
            margin: 10px auto;
        }
            .my-interview .int-buttons .apply-job:hover {
                background-color: #0163bb;
                box-shadow: 0 5px 15px rgba(0,0,0,0.5);
            }
            .my-interview .int-buttons .apply-job .apply-link {
                text-decoration: none;
                color: #ffffff;
            }

/* BULPRS Advantages */
.bp-advant{
    width: 1000px; 
    margin: 0 auto; 
    padding-top: 50px;
}

    .bp-advant p.grey,
    .bp-advant p.blue {
        text-align: left;
        font-size: 40pt;
    }
    .bp-advant p.blue{margin-bottom: 50px;}

    .bp-advant .row {
        margin: 25px 0px; 
        height: 150px;
    }
        .row .option {
            text-align: center; 
            float: left; 
            width: 33.3333333%;
        }
            .row .option h2 {
                color: #636363;
                font-size: 13pt;
                font-family: 'Lato', sans-serif;
                text-transform: uppercase;
                font-weight: 500;
            }

            .row .option div {
                width: 70px;
                height: 70px;
                display: inline-block;
                -webkit-transition: -webkit-transform .8s ease-in-out;
                transition: transform .8s ease-in-out;
            }
                /* icons */
                .row .option .profile {
                    background: url("../images/joyn.png") 0px 0px;
                }
                .row .option .competitive {
                    background: url("../images/joyn.png") -90px -3px;
                }
                .row .option .individual {
                    background: url("../images/joyn.png") -168px 0px;
                }
                .row .option .technology {
                    background: url("../images/joyn.png") 0px -87px;
                }
                .row .option .certification {
                    background: url("../images/joyn.png") -89px -87px;
                }
                .row .option .travel {
                    background: url("../images/joyn.png") -162px -92px;
                    width: 80px;
                }
                .row .option .flexible {
                    background: url("../images/joyn.png") 0px -190px;
                    width: 80px;
                }
                .row .option .direct {
                    background: url("../images/joyn.png") -85px -175px;
                    width: 80px;
                }
                .row .option .mobility {
                    background: url("../images/joyn.png") -165px -180px;
                    width: 80px;
                }

                /* HOVER */
                .row .option div:hover{
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }

                .row .option .profile:hover {
                    background: url("../images/joyn-green.png") 0px 0px;
                }
                .row .option .competitive:hover {
                    background: url("../images/joyn-green.png") -90px -3px;
                }
                .row .option .individual:hover {
                    background: url("../images/joyn-green.png") -168px 0px;
                }
                .row .option .technology:hover {
                    background: url("../images/joyn-green.png") 0px -87px;
                }
                .row .option .certification:hover {
                    background: url("../images/joyn-green.png") -89px -87px;
                }
                .row .option .travel:hover {
                    background: url("../images/joyn-green.png") -162px -92px;
                    width: 80px;
                }
                .row .option .flexible:hover {
                    background: url("../images/joyn-green.png") 0px -190px;
                    width: 80px;
                }
                .row .option .direct:hover {
                    background: url("../images/joyn-green.png") -85px -175px;
                    width: 80px;
                }
                .row .option .mobility:hover {
                    background: url("../images/joyn-green.png") -165px -180px;
                    width: 80px;
                }


/* MID BANNER */
.mid-banner {
    width: 100%;
    height: 40vw;
    background: url("../images/IMG_20160708_123802.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0px;
    position: relative;
}
    .mid-banner .banner-moto {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        background-color: rgba(1,115,186,0.5);
        text-align: center;
    }
        .banner-moto p {
            color: #ffffff;
                font-size: 4vw;
                font-weight: 100px;
                margin-top: 15vw;
        }

/* REFER A FRIEND */
.refer-friend {
    width: 1000px;
    height: 1100px;
    margin: 0 auto;
    padding-top: 50px;
    color: #636363;
}
    .refer-friend p.grey,
    .refer-friend p.blue {
        text-align: left;
        font-size: 40pt;
    }
        .refer-friend .get-bonus .title-bonus {
            text-align: center;
            font-size: 25pt;
            margin: 50px 0px;
        }
            .get-bonus .bonus-options .senior {
                float: left;
                text-align: center;
                width: 50%;
            }
            .get-bonus .bonus-options .mid-level {
                float: right;
                text-align: center;
                width: 50%;
            }
                .get-bonus .bonus-options .sum {
                    color: #0173ba;
                    font-weight: bold;
                    font-size: 70pt;
                }
                .get-bonus .bonus-options .option-info {
                    font-size: 20pt;
                }

        .refer-friend .refer-button {
            width: 100%;
            margin: 50px 0px;
            padding-bottom: 50px;
            float: left;
            text-align: center;
            border-bottom: 2px solid #636363;
        }
            .refer-friend .refer-button a {
                text-decoration: none;
                color: #636363;
                border: 1px solid #636363;
                padding: 10px 20px;
            }
            .refer-friend .refer-button a:hover {
                background-color: #636363;
                color: #ffffff;
                box-shadow: 0 5px 15px rgba(0,0,0,0.5);
            }

    .refer-friend .bonus-info{
        float: left;
        text-align: center;
        line-height: 40px;
    }
    .refer-friend .bonus-info .important {
        margin: 20px 0px;
        font-size: 16pt;
    }
        .refer-friend .bonus-info .refer-button {
            padding-top: none;
            border-bottom: none;
        }

/* FOOTER */
footer {
    width: 100%;
    background: url("../images/3.jpg") no-repeat;
    background-attachment: fixed;
    background-size: auto 150%;
    background-position: center -100px;
}

/* grey content */
.grey-part {
    width: 100%;
    height: 700px;
    background-color: rgba(99,99,99,0.7);
    padding-top: 30px;
    color: #ffffff;
}
    .grey-part .grey-content {
        width: 1000px;
        margin: 0 auto;
        border-top: 1px solid #ffffff;
        text-align: center;
    }
        .grey-part .grey-content .title{
            margin-top: 20px;
            font-size: 16pt;
            line-height: 10px;
            font-weight: 100;
        }
        .grey-part .grey-content .title h1 {
            font-weight: 100;
        }
    
    /* table of facts */
    .grey-content .facts{
        display: block;
    }
        .grey-content .facts .row{
            border-bottom: 1px solid #ffffff;
        }
            .grey-content .facts .row:after {
                display: block;
                content: "";
                clear: both;
            }

            .grey-content .facts .row .left {
                border-right: 1px solid #ffffff;
                float: left;
                width: 48%;
                padding: 20px 0px;
            }
            .grey-content .facts .row .right {
                float: left;
                width: 48%;
                padding: 20px 0px 20px 20px;
            }

            .grey-content .facts .row .left .text,
            .grey-content .facts .row .right .text{
                font-size: 20px;
                width: 70%;
                display: inline-block;
                height: 80px;
                text-align: left;
            }
            .grey-content .facts .row .left div:first-child,
            .grey-content .facts .row .right div:first-child {
                float: left;
                width: 70px;
                height: 70px;
                display: inline-block;
                margin-right: 10px;
            }
                /* icons */
                .grey-content .icon-company {
                    background: url("../images/company.png") no-repeat;
                }
                .grey-content .icon-numbers {
                    background: url("../images/numbers.png") no-repeat;
                }
                .grey-content .icon-microsoft {
                    background: url("../images/microsoft.png") no-repeat;
                }
                .grey-content .icon-outsourcing {
                    background: url("../images/outsourcing.png") no-repeat;
                }
                .grey-content .icon-devPartner {
                    background: url("../images/devPartner.png") no-repeat;
                }
                .grey-content .icon-engineers {
                    background: url("../images/engineers.png") no-repeat;
                }

    .grey-content .expertise {
        margin-top: 20px;
    }
        .grey-content .expertise h2 {
            font-size: 20pt;
            font-weight: 100;
        }
        .grey-content .expertise ul {
            list-style: none;
            padding: 0px 20px 30px 20px;
        }
        .grey-content .expertise li {
            display: inline-block;
            margin-right: 30px;
            font-size: 20px;
        }
            .grey-content .expertise li:last-child {
                margin-right: 0px;
            }
            .grey-content .expertise li i {
                padding-right: 10px;
            }
            .grey-content .expertise li .java {
                background: url("../images/java.png") no-repeat;
                display: inline-block;
                padding-right: 5px;
                width: 30px;
                height: 40px;
            }
            .grey-content .expertise li .embedded {
                background: url("../images/embed.png") no-repeat;
                display: inline-block;
                padding-right: 5px;
                width: 30px;
                height: 20px;
            }
            .grey-content .expertise li .ui-ux {
                background: url("../images/ui-ux.png") no-repeat;
                width: 45px;
                height: 20px;
                display: inline-block;
                padding-right: 5px;
            }
    .grey-content .grey-button {
        margin-top: 50px;
    }
        .grey-content .grey-button a{
            padding: 20px 30px;
            border: 1px solid #ffffff;
            text-decoration: none;
            color: #ffffff;
        }
            .grey-content .grey-button a:hover {
                background-color: #ffffff;
                color: #636363;
                box-shadow: 0 5px 15px rgba(0,0,0,0.5);
            }

/* blue part */
footer .blue-part {
    width: 100%;
    height: 500px;
    background-color: rgba(1,115,186,0.7);
    padding: 30px 0px 50px 0px;
    color: #ffffff;
    text-align: center;
    display: block;
    line-height: 25px;
}
    footer .blue-part .logo-footer {
        display: block;
        margin: 0 auto;
    }

    .blue-part .blue-content {
        margin: 0 auto;
        width: 1000px;
        border-top: 1px solid #ffffff;
        margin-top: 20px;
        display: inline-block;
        padding-top: 20xp;
    }
        .blue-part .blue-content .about-us {
            width: 600px;
            float: left;
            text-align: justify;
        }
        .blue-part .blue-content .contacts {
            text-align: left;
            float: right;
            width: 250px;
        }
            .blue-part .blue-content .contacts ul{
                list-style: none;
                text-align: left;
                padding: 0px;
            }

    footer .blue-part .follow {
        margin: 0 auto;
        width: 1000px;
        text-align: left;
    }
    footer .blue-part .follow h3 {
        margin: 0px;
    }
    footer .blue-part .follow ul {
        list-style: none;
        text-align: left;
        padding: 0px;
    }
        footer .blue-part .follow ul li {
            display: inline-block;
            list-style-type: none;
            margin-right: 10px;
        }
        footer .blue-part .follow ul li a {
            color: #ffffff;
            font-size: 14pt;
        }