
@media only screen and (max-width: 1000px), only screen and (max-device-width: 1000px) {

    body,
    main,
    .top-info,
    .top-info .job-positions,
    .top-info .img-info,
    .my-interview,
    .my-interview p.grey,
    .my-interview p.blue,
    .my-interview .full-interview,
    .my-interview .int-buttons,
    .position-desctibtion ul,
    .bp-advant,
    .refer-friend,
    .grey-part .grey-content,
    .blue-part .blue-content,
    .blue-part .blue-content .about-us,
    footer,
    footer .blue-part .follow{
        width: 100%;
        min-width: 100%;
        max-width: 100%;    
    }


    header .logo .logo-img {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    header .menu {
        right: auto;
        left: -1000px;
        top: 70px;
        background-color: rgba(1,115,186,0.7);
        padding: 10px;
    }    
    header .menu li {
        margin: 0px;
        padding: 20px 0px;
        display: inherit;
    }

    header .menu-button{
        display: block;
    }
    
    
/* TOP INFO*/
    .top-info{
        display: block;
    }
    .top-info .img-info {
        height: 600px;
    }
        .top-info .info-container {
            width: 100% !important;
        }
            .top-info .info-container p {
                margin: 0px !important;
                font-size: 20pt !important;
            }
                .top-info .info-container p.grey {
                    float: left;
                    padding-right: 10px;
                    margin-left: 50px !important;
                }

            .top-info .info-container .rownd-img {
                width: 200px;
                height: 200px;
                background-position: -120px -20px;
            }

    
    /* top info right part*/
    .top-info .job-positions {
        background-position: -330px;
        height: 1050px;
    }

        .top-info .job-positions .pos-title {
            font-size: 20pt !important;
            width: 90%;
        }
        .top-info .job-positions ul {
            min-width: 90%;
            width: 90%;

        }
        .top-info .job-positions li {
            width: 90%;
            line-height: 25px;
            font-size: 11pt;
            margin: 10px 0px !important;
            padding-left: 5px;
        }
        .position-desctibtion .pos-button {
            margin: 0 auto !important;
            width: 80%;
            font-size: 10pt;
        }
    
/* MY INTERVIEW */
    .my-interview {
        display: inline-block;
        float: left;
        padding-top: 20px;
    }
        .my-interview p{
            font-size: 20pt !important;
            text-align: center !important;
            width: 45% !important;
            min-width: 45% !important;
            float: left;
            margin-bottom: 20px !important;
        }
            .my-interview p.grey {
                text-align: right !important;
            }
            .my-interview p.blue {
                padding-left: 10px;
                text-align: left !important;
            }
    
        .full-interview {
            font-size: 10pt;
            line-height: 18px;
        }
            .full-interview td {
                padding: 10px 10px !important;
            }   
    .my-interview .int-buttons .apply-job {
        width: 90% !important;
        margin: 0 auto;
        padding: 10px 2px;
    }
    
    .my-interview .int-buttons .read-more,
    .my-interview .int-buttons .read-more:hover{
        width: 250px !important;
    }
    
/* ADVANTAGES */
    .bp-advant {text-align: center; padding-bottom: 40px; display: inline-block;}
        .bp-advant p {
            margin: 20px 0px 50px 0px !important;
            font-size: 19pt !important;
            text-align: center !important;
            display: inline-block;
        }
        .bp-advant .row {
            height: 400px;
            margin: 0px;
        }
            .bp-advant .row .option {
                width: 90%;
                float: none;
                margin: 0 auto;
                margin-bottom: 20px;
            }
            .bp-advant .row .option h2 {
                font-size: 12pt;
            }    

    
/* MID BANNER */                
    .mid-banner {
        
        background-position: center;
    }
/* REFER A FRIEND */
    .refer-friend {
        text-align: center; 
        padding: 20px 0px 20px 0px;  
        height: 950px;
    }
        .refer-friend p {
            margin: 20px 0px 20px 0px !important;
            font-size: 19pt !important;
            text-align: center !important;
            display: inline-block;
        }
        .refer-friend p.grey {padding-right: 5px;}

        .refer-friend .get-bonus .title-bonus {
            margin: 0px !important;
            font-size: 16pt;
        }
            .get-bonus .bonus-options .sum {
                font-size: 36pt;
            }
            .get-bonus .bonus-options .option-info {
                font-size: 12pt;
            }
        .refer-friend .bonus-info {
            font-size: 12pt;
            line-height: 20px;
            padding: 0px 15px;
        }
        .refer-friend .bonus-info .important {
            font-size: 14pt !important;
            margin: 10px 0px !important;
        }
    
/* FOOTER */

    .grey-part {
        height: 1470px;
    }
    .grey-part .grey-content .title h1 {
        font-size: 20pt;
        margin-bottom: 50px;
    }

    .grey-content .facts .row,
    .grey-content .facts .row .left,
    .grey-content .facts .row .right {
        width: 100%;
        border: none;
        float: none;
        padding: 0px;
    }
        .grey-content .facts .row .left div,
        .grey-content .facts .row .right div {
            margin-left: 50%;
            transform: translateX(-50%);
        }
        .grey-content .facts .row .left div.text,
        .grey-content .facts .row .right div.text {
            font-size: 10pt;
            transform: translateX(0%);
            margin: 20px 0px;
            text-align: center;
            height: auto;
            width: 80%;
        }
        .grey-content .expertise li {
            display: inherit;
            margin: 15px 0px;
        }
    
    .blue-part {
        width: 100% !important;
        min-width: 100% !important;
        height: 1450px !important;
    } 
        .blue-part h3,
        .blue-part p {
            padding: 10px 50px;
        }
        .blue-part .blue-content .contacts {
            width: 100%;
        }
            .blue-part .blue-content .contacts ul,
            footer .blue-part .follow ul {
                margin-left: 50px;
            }    
}